body {
    background-image: url(../images/qbkls.png);
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    font-size: 24px;
    color: #4aaaa5;
}

a:hover {
    color: #4aaaa5;
}

header {
    background-color: #fff;
    width: 100%;
    height: 70px;
}

footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    border-top: 8px solid #4aaaa5;
    background: grey;
    text-align: center;
}

#footer-container {
    padding: 7px;
    margin: auto;
    color: #fff;
}

.title {
	/* position: static; */
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 20px;
}

#title-name {
    background: #4aaaa5;
    float: left;
    left: 100px;
    padding: 20px 20px 20px 20px;
    margin-left: 30px;
}

/* #header-container {
	position: relative;
	width: 960px;
    height: 70px;
	margin-left: auto;
	margin-right: auto;
    background-color: #fff;
    border: 100px;
    border-color: #cccccc;
} */

#links-container-right {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    position: relative;
    right: 20px;
	top: 25px;
	float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline;
}

p, .main-font {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.about-me {
    position: relative;
    top: 50px;
    width: 920px;
    height: auto;
    margin: auto;
    padding: 20px;
    background: #fff;
}

#lyrics {
    font-style: italic;
}

.main-content {
    position: relative;
    float: left;
    left: 40px;
    top: 50px;
    width: 85vw;
    height: auto;
    margin: auto;
    padding: 20px;
    background: #fff;   
}

#main-image {
    float: left;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    position: relative;
    width: 275px;
    float: left;
    margin: 20px 20px 25px 20px;
}

.text-block {
    position: absolute;
    bottom: 10px;
    right: 0px;
    left: 0px;
    height: 4em;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-justify: center;
}

.portfolio-text {
    position: relative;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.portfolio-text:hover {
    font-style: italic;
}

@media screen and (max-width: 980px) {
    .main-content {
        width: 630px;
    }
    .about-me {
        float: left;
        left: 40px;
        width: 600px;
        /* height: auto; */
    }
} 

@media screen and (max-width: 768px) {
    .about-me {
        width: 86vw;
        left: 0px;
        /* float: left; */
        margin-left: 30px;
    }
    .main-content {
        width: 85vw;
        float: left;
        left: 40px;
        /* margin-left: 20px;
        margin-right: 20px; */
    }
} 

@media screen and (max-width: 640px) {
    .about-me {
        /* display: flex; */
        justify-content: center;
        width: 95vw;
        /* float: left; */
        left: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .main-content {
        width: 82vw;
        float: left;
        left: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #lyrics-title {
       display: inline-block;
    }
    #lyrics {
        margin-top: 1em;
        display: inline-block;
    }
    #title-name {
        left: 0px;
        font-size: 6vw;
        margin: 0px 0px 0px 0px;
        padding: 10px 0px;
        width: 100vw;
        text-justify: center;
        line-height: 50px;
    }
    .title {
        left: 0px;
        width: 100vw;
        height: 50px;
        margin: 0px 0px 0px 0px;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
    }
    .header-container {
        text-align: center;
        vertical-align: middle;
    }
    #main-image {
        display: block;
        width: 90vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #links-container-right {
        background-color: #fff;
        float: left;
        left: 0px;
        top: 0px;
        /* padding-right: 80px; */
        margin-left: 0px;
        margin-right: 0px;
        height: 50px;
        width: 100vw;
        line-height: 50px;
        text-align: center;
    }
    #nav-links {
        text-align: center;
        align-self: center;
        /* margin-right: 40px; */
        display: block;
    }
    header {
        background: none;
    }
    ul {
        float: none;
    }
    #body-text-bottom {
        padding-right: 10px;
    }
    .container {
        float: none;
        margin: 20px auto 25px auto;
    }
}
  